$blue-gray: #909192;
$cool-gray: #a2aaad;
$coral: #f86060;
$gray-light: #f6f8fa;
$gray-medium: #dce0e8;
$gray-dark: #1c1c1c;
$green-light: #E9EDC9;
$green-dark: #CCD5AE;
$light-blue-gray-2: #c5c8d0;
$yellow: #fccc68;
